rules_version = '2';
service cloud.firestore {
  match /databases/{db}/documents {
    match /{path=**}/reports/{reportId} {
      allow read, write: if true; // 開発中だけ
    }
  }
}
